/* upper-left buttons */
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon,
#reload-button > .toolbarbutton-icon,
#stop-button > .toolbarbutton-icon,
.toolbarbutton-badge-stack, /* sidebar button */

/* address box buttons */
.identity-box-button,
.urlbar-icon,
.urlbar-revert-button,
#tracking-protection-icon-container,
#urlbar-searchmode-switcher,

/* other buttons */
.button-background, 

/* tabs & newtab styling */
.tab-background,
#tabs-newtab-button,
#tabs-newtab-button > .toolbarbutton-icon { /* Without this selector, the new-tab button doesn't work with horizontal tabs. (a0ed743) */
    border-radius: 9999px !important;
}

/* the address-bar */
.urlbar-background {
    border-radius: 20px !important;
}

/* extensions button styling (the svg gets cut off if the border-radius is too large) */
#unified-extensions-button > .toolbarbutton-icon {
    border-radius: 11px !important;
}

/* hides the "Add tab to taskbar" and "bookmark tab" buttons */
.urlbar-page-action {
    visibility: hidden !important;
}